@font-face {
	font-family: "iconfont";
	src: url('~@/common/fonts/iconfont.ttf');
	/* src: url('https://hejiume-public.oss-cn-chengdu.aliyuncs.com/app/resources/fonts/iconfont.ttf'); */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconsaoyisao:before {
  content: "\e647";
}

.iconjifen:before {
  content: "\e7de";
}

.iconshenheshibai:before {
  content: "\e63e";
}

.iconshangjia1:before {
  content: "\e63f";
}

.iconxiajia:before {
  content: "\e641";
}

.iconshenhe:before {
  content: "\e69a";
}

.iconweiguichuli:before {
  content: "\e645";
}

.iconguaduan:before {
  content: "\e6fc";
}

.iconguanbi:before {
  content: "\e64a";
}

.iconqiabao:before {
  content: "\e669";
}

.iconcha:before {
  content: "\e63d";
}

.iconyijiedan:before {
  content: "\e610";
}

.icondaisonghuodingdan:before {
  content: "\e633";
}

.icondaijiedan:before {
  content: "\e629";
}

.iconRectangleCopy:before {
  content: "\e6e8";
}

.iconyiguanbi:before {
  content: "\e60a";
}

.iconpeisongzhong:before {
  content: "\e632";
}

.iconqianshou-:before {
  content: "\e634";
}

.icondaifahuo:before {
  content: "\e63a";
}

.iconyiwancheng:before {
  content: "\e651";
}

.iconyifahuo:before {
  content: "\e636";
}

.iconweixin:before {
  content: "\e6b9";
}

.iconandroid:before {
  content: "\e609";
}

.iconios:before {
  content: "\e607";
}

.iconweb-icon-:before {
  content: "\e70c";
}

.iconzichan:before {
  content: "\e626";
}

.iconquanyi:before {
  content: "\e726";
}

.iconyuan:before {
  content: "\e630";
}

.icontishi:before {
  content: "\e659";
}

.iconchenggong:before {
  content: "\e606";
}

.iconshipin3:before {
  content: "\e604";
}

.iconshipintonghua:before {
  content: "\e6db";
}

.iconsanjiaoxia:before {
  content: "\e644";
}

.iconshanchu:before {
  content: "\e638";
}

.iconcedaohang-tongxunlu:before {
  content: "\e711";
}

.iconicon-test:before {
  content: "\e61d";
}

.iconpintuangou:before {
  content: "\e635";
}

.icongouwu:before {
  content: "\e60c";
}

.iconfuzhi:before {
  content: "\e61b";
}

.icondianhua:before {
  content: "\e64f";
}

.iconstock:before {
  content: "\e603";
}

.iconqian:before {
  content: "\e719";
}

.iconlishi:before {
  content: "\e75f";
}

.iconcaidanguanli:before {
  content: "\e61a";
}

.iconfabu:before {
  content: "\e62f";
}

.icongonggao:before {
  content: "\e61f";
}

.iconshipin2x:before {
  content: "\e601";
}

.iconshezhi:before {
  content: "\e628";
}

.iconshipin2:before {
  content: "\e643";
}

.iconjia1:before {
  content: "\e618";
}

.iconjian:before {
  content: "\e619";
}

.iconyonghu:before {
  content: "\e60e";
}

.iconshipin1-copy:before {
  content: "\e811";
}

.iconshipin1:before {
  content: "\e64e";
}

.iconjiu:before {
  content: "\e605";
}

.iconic_liaotian:before {
  content: "\e690";
}

.icon_xingzuoyuncheng:before {
  content: "\e625";
}

.icongengduo:before {
  content: "\e60b";
}

.iconaixin_shixin:before {
  content: "\e602";
}

.iconfilter:before {
  content: "\e623";
}

.iconreview:before {
  content: "\e62e";
}

.iconjine:before {
  content: "\e61e";
}

.iconweixinzhifu:before {
  content: "\e62b";
}

.iconyouhuiquan01:before {
  content: "\e637";
}

.iconalipay:before {
  content: "\e715";
}

.iconapple-pay:before {
  content: "\e600";
}

.iconxuanze-danxuan:before {
  content: "\e661";
}

.iconxuanze-moren:before {
  content: "\e662";
}

.iconguanbi1:before {
  content: "\e7be";
}

.iconpingjia-copy:before {
  content: "\e640";
}

.iconshoucang1:before {
  content: "\e614";
}

.iconshoucang2:before {
  content: "\e615";
}

.iconsong:before {
  content: "\e639";
}

.iconpaizhao:before {
  content: "\e698";
}

.iconjiantoushang:before {
  content: "\e62c";
}

.iconsanjiaoxing:before {
  content: "\e617";
}

.iconshuangjiantouyou:before {
  content: "\e713";
}

.iconselected:before {
  content: "\e613";
}

.iconchoiceO:before {
  content: "\e63b";
}

.iconshipin:before {
  content: "\e656";
}

.iconiconfontxuanzhong1:before {
  content: "\e620";
}

.iconfangdajing:before {
  content: "\e627";
}

.iconlocation:before {
  content: "\e611";
}

.iconbianji1:before {
  content: "\e60d";
}

.iconerweima:before {
  content: "\e642";
}

.iconiconzhuanqu_shanchu:before {
  content: "\e65b";
}

.iconnan:before {
  content: "\e621";
}

.iconnv:before {
  content: "\e622";
}

.icongonggaoguanli:before {
  content: "\e68a";
}

.iconicon-test1:before {
  content: "\e62a";
}

.iconkefu:before {
  content: "\e608";
}

.iconshangjia:before {
  content: "\e616";
}

.icondizhi:before {
  content: "\e646";
}

.icontuanduichengyuan:before {
  content: "\e624";
}

.iconbianji:before {
  content: "\e63c";
}

.iconshouye:before {
  content: "\e612";
}

.icondaifukuan:before {
  content: "\e68f";
}

.iconshouhoutuikuan:before {
  content: "\e631";
}

.iconyishouhuo:before {
  content: "\e71a";
}

.icontubiao302:before {
  content: "\e649";
}

.iconifc:before {
  content: "\e670";
}

.iconyinxingqia3:before {
  content: "\e657";
}

.iconwoyaozhongchou:before {
  content: "\e810";
}

.iconhuafei:before {
  content: "\e664";
}

.icontuandui-tianchong:before {
  content: "\e650";
}

.icongouwuche:before {
  content: "\e767";
}

.iconjiayouzhan:before {
  content: "\e684";
}

.iconqianbao1:before {
  content: "\e61c";
}

.iconduihuan:before {
  content: "\e665";
}

.iconvip1:before {
  content: "\e672";
}

.icongongchang:before {
  content: "\e667";
}

.icondianfei:before {
  content: "\e668";
}

.iconbukejian-copy:before {
  content: "\e7bf";
}

.iconkejian-copy:before {
  content: "\e7c0";
}

.iconphone:before {
  content: "\e60f";
}

.iconjia:before {
  content: "\e64d";
}

.iconyoujiantou:before {
  content: "\e770";
}

.iconzuojiantou:before {
  content: "\e771";
}

.icontianjiayonghu_huaban:before {
  content: "\e62d";
}

